############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Linux
############################

*~


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# IDE & Editors
############################

.idea
.vscode/*
!.vscode/settings.json
*.swp
*.swo
*.swn
*.swm
*.sublime-workspace
*.sublime-project


############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3


############################
# Misc.
############################

*#
ssl
nbproject
coverage
license.txt
exports
.node_history
.eslintcache


############################
# Node.js & Package managers
############################

node_modules
lib-cov
lcov.info
pids
logs
results
npm-debug.log*
npm-error.log*
pnpm-debug.log*
pnpm-error.log*
yarn-error.log
.yarn/*
!.yarn/cache
!.yarn/unplugged
!.yarn/patches
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*


############################
# Build & Distribution
############################

dist
build
.tsbuildinfo


############################
# Environment & Secrets
############################

.env
.env.local
.env.*.local


############################
# Strapi specific
############################

.strapi
.strapi-updater.json
.strapi-cloud.json

public/uploads/*
!public/uploads/.gitkeep